html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	background-color: #eee;
	color: #222;
	font-family: "Open Sans", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

#projects h2 {
	color: #666;
	text-align: center;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.content-wrapper {
	margin:  auto 30px;
	padding: 30px 25px;
}

.nav ul {
	text-align: center;
	list-style-type: none;
	margin: 10px 0 10px;
	padding: 0 10px;
	overflow: hidden;
}

.nav li {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.nav li a {
	padding: 8px;
}

.nav li a:hover {
	color: #666666;
}

.nav {
	position: fixed;
	top: 8px;
	left: 8px;
	right: 8px;
	color: white;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#welcome-section {
	display: flex;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/brianjagodnik.jpg") center no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	color: #eee;
	font-size: 1.25em;
}

#welcome-section h1 {
	font-size: 2.5em;
	margin-bottom: 0.25em;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#projects {
	display: flex;
	justify-content: center;
}

#contact {
	background: #1c2321;
	color: #eee;
	padding: 2em;
	text-align: center;
}

#contact a {
	font-weight: normal;
	text-decoration: none;
}

.contact-links {
	display: flex;
	justify-content: center;
}

.contact-links a {
	width: 25px;
	padding: 15px;
	margin: 4px;
	border: #36474e 2px solid;
	border-radius: 50%;
	font: 20px normal;
	transition: 0.3s;
}

.contact-links a:hover {
	background: white;
	color: #36474e;
}

a.button {
	background: rgb(29, 74, 137);
	box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	border-radius: 20px;
	padding: 5px 20px;
	font-weight: normal;
	cursor: pointer;
}

footer {
	background: #1c2321;
	color: #eeeeee;
	padding-bottom: 3em;
	text-align: center;
	font-size: 0.875em;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 400px;
	text-align: center;
}
	
div.gallery:hover {
	width: 500px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
div.gallery img {
	width: 100%;
	height: auto;
}
  
div.project-tile {
	font-size: 1.5em;
	padding: 15px;
}

div.icons {
	font-size: 2.5em;
}