body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 1.4;
	color: #222;
}

h1 { 
	font: bold 28px/28px 'Lato', sans-serif; 
	margin: 10px 0 10px 0; 
	padding: 10px;
	color: white;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

h2 { 
	font: bold 22px/22px 'Open Sans', sans-serif; 
	color: #666; 
	border-bottom: 2px solid black; 
}

h3 { 
	font: bold 16px/16px;
}

a { 
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:before {
  color: #ffffff;
  background: rgb(29,74,137);
  font-size: 120%;
  padding: 2px 5px;
  display: inline-block;
  width: 1.2em;
  margin-right: 10px;
  text-align: center;
}

img {
    max-width: 100% !important;
}

p {
	display: block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.img-circle {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 25px 25px -25px;
}

#main {
    margin: 0 300px;
    padding: 0 25px;
	position: absolute;
}

#about-container {
	width: 260px;
	padding: 30px;
	background-color:rgb(29,74,137);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}

#about-container ul{
	list-style: none;
	padding: 0;
}

#about-container ul a{
	display: block;
	padding: 5px 40px;
	color: black;
	margin-bottom: 2px;
	font: bold 20px Verdana;
	text-decoration: none;
}

a[href*=facebook]{
	background: white url(icons/facebook.png) 5px center no-repeat;
}
a[href*=twitter]{
	background: white url(icons/twitter.png) 5px center no-repeat;
}
a[href*=linkedin]{
	background: white url(icons/linkedin.png) 5px center no-repeat;
}
a[href*=plus]{
	background: white url(icons/plus.png) 5px center no-repeat;
}
a[href^="mailto:"]:before {
  content: "\2709 ";
}
a[href^="tel:"]:before {
  content: "\2706";
}
a[href$="vcs"]:before {
  content: "\231A";
}
